@model test.ViewModels.ProductEditModel

<h1>Product Inventory System</h1>
<h2>Add Product</h2>

<form method="post">
    
    <div>
    <label asp-for="name">Product Name:</label>
    <input asp-for="name" /><br />
    <span asp-validation-for="name"></span>
    </div>
  
    <div>
    <label asp-for="price">Product Price:</label>
    <input asp-for="price" /><br />
    <span asp-validation-for="price"></span>
    </div>
   
    <div>
    <label asp-for="quantity">Product Quantity:</label>
    <input asp-for="quantity" /><br />
    <span asp-validation-for="quantity"></span>
    </div>
    
    <div> 
    <label asp-for="type">Product Type:</label>
    <input asp-for="type" /><br />
    <span asp-validation-for="type"></span>
    </div>

    <input type="submit" name="save" value="Save" />
    
</form>
 