@model test.Models.ProductInventory
<div>Product Inventory System</div>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Page</title>
</head>
<body>
    @using (Html.BeginForm("Add", "Home", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Person Details</th>
            </tr>
            <tr>
                <td>Product Name: </td>
                <td>
                    @Html.TextBoxFor(m => m.name)
                </td>
            </tr>
            <tr>
                <td>Product Price: </td>
                <td>
                    @Html.TextBoxFor(m => m.price)
                </td>
            </tr>
            <tr>
                <td>Product Quantity: </td>
                <td>
                    @Html.TextBoxFor(m => m.quantity)
                </td>
            </tr>
            <tr>
                <td>Product Type: </td>
                <td>
                    @Html.TextBoxFor(m => m.type)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><a href="Home/Add">Add</a></td>
            </tr>
        </table>
    }
</body>
</html>
