@{
    ViewData["Title"] = "Delete";
}
<div>Product Inventory System</div>
<form action="/action_page.php">
    Enter Product Name:
    <input name="productName" type="text">
    <br><br>

   
    <br><br>
    <button type="button" onclick="alert('implement this method to product new product')">Delete</button>




</form>