
@model test.ViewModels.HomeIndexViewModel 


@{
    ViewBag.Title = "List";
}

<div>Product Inventory System</div>



@foreach (var item in Model.Products)
{
<div>
    @item.Name
    @item.Price
    @item.Quantity
    @item.Type
    <a href="update/@item.Name">update</a>
    <a href="Delete/@item.Name">delete</a>
   
    <hr />
</div>
}