
@model test.ViewModels.HomeIndexViewModel 


@{
    ViewBag.Title = "List";
}

<div>Product Inventory System</div>



@foreach (var item in Model.Products)
{
<div>
    @item.name
    @item.price
    @item.quantity
    @item.type
    <a href="update/@item.name">update</a>
    <a href="Delete/@item.name">delete</a>
   
    <hr />
</div>
}