@model test.Models.ProductInventory
@{
    ViewData["Title"] = "Update Page";
}
<div>Product Inventory System</div>

<form method="post">

    <div>
        <label asp-for="name">Product Name:</label>
        <input asp-for="name" /><br />
        <br><br>
    </div>

    <div>
        <label asp-for="price">Product Price:</label>
        <input asp-for="price" /><br />
        <br><br>
    </div>

    <div>
        <label asp-for="quantity">Product Quantity:</label>

        <input asp-for="quantity" /><br />
        <br><br>
    </div>
    <div>
        <label asp-for="type">Product Type:</label>

        <input asp-for="type" /><br />
        <br><br>
    </div>
    <input type="submit" name="update" value="Update" />
    <a asp-action="list">View All</a><br />



</form>