@{
    ViewData["Title"] = "Update Page";
}
<div>Product Inventory System</div>
<form action="/action_page.php">
    Enter Product Name:
    <input name="productName" type="text">
    <br><br>

    Enter Product Price:
    <input name="productPrice" type="text">
    <br><br>

    Enter Product Quantity:
    <input name="productQuantity" type="text">
    <br><br>

    Enter Product Type:
    <input name="productType" type="text">
    <br><br>
        <button type="button" onclick="alert('implement this method to product update a product')">Update</button>




</form>